html * {
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
}

.fs-h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 105%;
    text-transform: uppercase;
}

.fs-h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
}

.fs-h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
}

.fs-h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.fs-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.fs-text-md {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.fs-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.fs-caption {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}